/* Estilos generales */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 65.2%;
}

:root {
	--lg: 32px;
	--md: 20px;
	--sm: 16px;
	--light-red: #DC0000;
	--dark-red: #850000;
	--sand: #FFDB89;
	--white-sand: #FFF6C3;
	/* paleta de colores: https://colorhunt.co/palette/dc0000850000ffdb89fff6c3 */
}

body {
	font-family: 'Nunito', sans-serif;
	background: rgba(255, 219, 137, 0.2);
	margin: 0 auto;
}

/* header */

header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: var(--light-red);
	height: 120px;
	width: 100%;
	place-content: center;
	border-end-end-radius: 12px;
	border-end-start-radius: 12px;
}

header ul {
	display: flex;
    margin: 32px auto;
    justify-content: center;
}


header ul li{
	display: inline;
	margin-right: 8px;
	list-style: none;

}

header ul li a {
	font-size: var(--md);
	text-decoration: none;
	color: black;
}

.logo {
	display: flex;
    align-items: center;
    justify-content: center;
}

.logo figcaption {
	font-size: var(--lg);
	margin-left: 4px;
}

.menu-img {
	display: none;
}

/* slider */

#slider {
	width: 88%;
	height: 360px;
	background: var(--white-sand);
	margin: 12px auto 12px;


}

/* figure.slider__imagenes {
	height: 100%;
	width: 100%;
} */

figure.slider__imagenes img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* footer */

footer {
	display: block;
	margin-top: 12px;
	background-image: url(/assets/fondo_de_footer_reducido.jpg);
	background-size: cover;
	background-position: 0 -314px;
	border-bottom: 1px solid var(--white-sand);
}

.redes_sociales {
	display: flex;

}

.informacion_de_empresa, .subtitulos {
	color: white;
}


@media (max-width: 675px) {
	.menu-list {
		display: none;
	}

	
	.menu-img {
		display: block;	
	}

	.menu-img img {
		width: 8rem;
		height: 8rem;
		position: absolute;
		right: 0;
	}

}